<a href="https://colab.research.google.com/github/lari-guimaraes/Projeto-Peso-L-quido/blob/main/Controle_L%C3%ADquido_Kelco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dados = pd.read_excel('controle_liquido.xlsx')

In [3]:
dados

,5 22,6 22,7 22,10 22,11 22,12 22,13 22,14 22,17 22,18 22,19 22,20 22,21 22,24 22,25 22,26 22,27 22,28 22,31 22
0,PAN01090,PAN00934,PAN00934,PAN00934,PAN01089,PAN00800,PAN00917,PAN00917,PAN00934,PAN00946,PAN00932,PAN00796,PAN00799,PAN00795,PAN00795,PAN00933,PAN00797,PAN00933,PAN00933
1,122,74,61,64,123,513,101,105,64,1030,63,46,91,57,56,72,50,63,60
2,120,74,67,60,119,513,104,103,76,1012,65,57,87,57,59,63,51,63,60
3,119,72,67,60,123,513,103,106,64,1010,62,58,92,59,59,63,50,64,61
4,122,78,65,62,123,512,104,103,63,1013,63,59,93,57,61,73,50,72,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,NaN,NaN,NaN,NaN,NaN,NaN,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,NaN,NaN,NaN,NaN,NaN,NaN,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
lote = input('Lote: ')
dados[lote]

Lote: 5 22

0      PAN01090
1           122
2           120
3           119
4           122
         ...
170         NaN
171         NaN
172         NaN
173         NaN
174         NaN
Name: 5 22, Length: 175, dtype: object

In [14]:
codigo_produto = input('CÃ³digo do produto: ')
codigo = []
codigo = [ s for s in dados[lote] if "codigo_produto" in s]

CÃ³digo do produto: PAN1090

TypeError: ignored

In [4]:
# media = dados.mean()
# media

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [5]:
Qn = 100
k = 0.295
desvio_padrao = dados.std()
desvio_padrao

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

Series([], dtype: float64)

In [6]:
criterio_media = Qn - (k*desvio_padrao)
criterio_media

Series([], dtype: float64)

In [7]:
for i in range(0, len(dados)):
  if dados >= criterio_media:
    dados['Criterio Media'] = "Aprovado"
  else:
    dados['Criterio Media'] = 'Reprovado'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`

ValueError: ignored